#main-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */
#buttons-tab-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 44px 0 0 0;
}

.icon--arrow-left {
    width: 19px;
    height: 22px;
    background: url(../img/ico-button-back@2x.png) no-repeat 0 0;
    background-size: 13px 22px;
}

.test-01-btn {
    margin: 0 0 10px;
    border: 2px solid #8699a4;
}
.test-02-btn {
    margin: 0 0 10px;
    border: 2px solid #45ae54;
}
.test-03-btn {
    margin: 0 0 10px;
    border: 2px solid #8699a4;
}
.test-04-btn {
    margin: 0 0 10px;
    border: 2px solid #45ae54;
}
.test-05-btn {
    margin: 0 0 10px;
    border: 2px solid #8699a4;
}

/* ------------------------------------------------------------------------------------------------------------------ */
#forms-tab-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 88px 0 0 0;
}

.my-text-field {
    /*background: #8699a4;*/
    background: #fff;
    border: 1px solid #666;
}
.my-text-view {
    /*background: #3c510c;*/
    border: 1px solid #666;
}

/* ------------------------------------------------------------------------------------------------------------------ */
#modals-tab-view {}

.in-modal-view {
    width: 600px;
    height: 400px;
    background: #ffcaca;
    z-index: 2;
}
.in-modal-button {
    background: #000;
}
.in-modal-close-button {
    /*position: absolute;
    top:0;
    left: 0;
    right: 0;
    padding: 0;
    height: 100%;*/
    background: rgba(0,0,0,.5);
}

/* ------------------------------------------------------------------------------------------------------------------ */
#misc-tab-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    background: #000000;
}
/* ------------------------------------------------------------------------------------------------------------------ */
#misc2-tab-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 44px 0 0 0;
}
.wood-scroll-view {
    height: 640px;
    background: #777;
}
.wood-view {
    /*width: 2592px;
    height: 1728px;*/

    width: 2592px;
    height: 300px;

    background: url(../img/wood@2x.jpg) no-repeat 0 0;
    /*background-size: 2592px 1728px;*/
    background-size: 2592px 300px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.my-accordion .ui-accordion-state > .ui-btn {
    /*height: 60px;*/
    /*background: #ddd;*/
    border: 2px solid #8699a4;
    border-radius: 10px;
}

.my-accordion .ui-accordion-state.state-opened > .ui-btn {
    border-radius: 10px 10px 0 0;
}

.my-accordion .ui-accordion-state > .ui-btn .btn-icon {
    width: 10px;
    height: 10px;
    background: #fff;
}
.my-accordion .ui-accordion-state.state-opened > .ui-btn .btn-icon {
    background: #999;
}

.my-acc-button-view {
    height: 40px;
    background: #528CE0;
    border-bottom: 2px solid #000;
}

.first-acc-view {
    height: 70px;
    background: #528CE0;
}
.second-acc-view {
    height: 120px;
    background: #ae3454;
}
.third-acc-view {
    height: 140px;
    background: #C6E746;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.my-select {
    margin: 0 0 0 40px;
    width: 295px;
    background: #bbb;
    border-radius: 10px;
}
/*
.ui-select-list {
    padding: 10px 0 0;
}
*/
.my-select-item-view {
    position: relative; /* this is optional */
    /*background: rgba(255,255,255,0.5);*/
    background: #bbb;
    border-top: 1px solid #333;
}
.my-select-item-view:hover {
    background: #528CE0;
    color: #fff;
}