#main-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.wood-scroll-view {
    height: 640px;
}
.wood-view {
    width: 2592px;
    height: 1728px;

    background: url(../img/wood@2x.jpg) no-repeat 0 0;
    background-size: 2592px 1728px;
}

.my-text-field {
    /*background: #8699a4;*/
    background: #fff;
    border: 1px solid #666;
}
.my-text-view {
    /*background: #3c510c;*/
    border: 1px solid #666;
}

.in-modal-view {
    width: 600px;
    height: 400px;
    background: #ffcaca;
}
.in-modal-button {
    background: #000;
}

.icon--arrow-left {
    width: 19px;
    height: 22px;
    background: url(../img/ico-button-back@2x.png) no-repeat 0 0;
    background-size: 13px 22px;
}

.test-01-btn {
    margin: 0 0 10px;
    border: 2px solid #8699a4;
}
.test-02-btn {
    margin: 0 0 10px;
    border: 2px solid #45ae54;
}
.test-03-btn {
    margin: 0 0 10px;
    border: 2px solid #8699a4;
}
.test-04-btn {
    margin: 0 0 10px;
    border: 2px solid #45ae54;
}
.test-05-btn {
    margin: 0 0 10px;
    border: 2px solid #8699a4;
}




#second-tab-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    background: #000000;
}